# cabal
dist-newstyle*
cabal.project.local

# stack
.stack-work

# nix
result*

# benchmarks
benchmarks/bench.csv
benchmarks/bench.svg
lib/unicode-grapheme-generator/benchmarks/bench.csv
lib/unicode-grapheme-generator/benchmarks/bench.svg

# tasty
.tasty-rerun-log.unit
